# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.vnv/
venv/
.env/
.venv/
.envrc
*.env

# IDE/editor
.vscode/
.idea/
*.swp

# Logs
*.log
logs/

# Byte-compiled
*.db
*.sqlite3
